/* ****************************
* Content
****************************** */

@media (min-width: 768px){
    .d-vehiculo img{
        border-radius: 20px 0 0 20px;
        box-shadow: -5px 0 4px 1px rgb(124, 124, 124);
    }

    .d-vehiculo .d-text-vehiculo{
        background-color: #fff;
        border-radius: 0 20px 20px 0;
        box-shadow: 5px 0 5px 1px rgb(124, 124, 124);
    }
}

@media (max-width: 767px){
    .d-vehiculo img{
        border-radius: 20px;
        margin-bottom: 5%;
        box-shadow: 0 5px 5px 1px rgb(124, 124, 124);
    }
    
    .d-vehiculo .d-text-vehiculo{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 5px 5px 1px rgb(124, 124, 124);
    }
}



